@charset "utf-8";

/*
Document : CSS样式初始化
Description: CSS样式表的初始化，全局样式设置。
*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: Source Han Sans CN;
  font-size: 14px;
  background-color: #000000;
  color: #F6F6F6;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* 清除列表样式 */
dl,
ul,
ol,
menu,
li {
  list-style: none
}

/* 重置类表前导符号为onne,menu在HTML5中有效 */
input[type="submit"] {
  cursor: pointer;
}

/* 鼠标样式 */
a {
  color: #F6F6F6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
}

// 版心

.main_container {
  width: 1200px;
  margin: 0 auto;
  // border: 1px solid red;
}

.body_box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.el-dialog__wrapper {
  z-index: 99999999999 !important;
}

.el-dialog__wrapper {
  text-align: left;
}

.remember {
  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: rgba(200, 164, 97, 1);
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: rgba(200, 164, 97, 1);
    border-color: rgba(200, 164, 97, 1);
  }

  .el-checkbox__inner:hover {
    border-color: rgba(200, 164, 97, 1);
  }

  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: rgba(200, 164, 97, 1);
  }

  .el-checkbox__inner {
    border-color: #606266;
  }
}